extends layout

block content
  div.heading
    h1 New Message
    a.return(href='/')
      button.return-btn Return to Messageboard
  form(method='POST', action='/new')
    div
      label(for='name') Name:
      input(type='text', id='name', name='name' required)
    div
      label(for='message') Message:
      textarea(id='message', name='message' required rows=4)
    button.submit-btn(type='submit') Submit